body {
    font-family: 'Exo', 'Arial', sans-serif;
    color: black;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.max-width {
    width: 100%;
}

.min-width {
    width: 1280px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.blank {
    background-color: white;
    height: 130px;
}

#icon {
    background-color: white;
    justify-content: center;
    z-index: 1;
}

#icon div {
    text-align: center;
}

#navbar {
    background-color: black;
    justify-content: center;
    height: 50px;
    top: 80px;
    z-index: 2;
}

#navbar div ul {
    list-style-type: none;
    width: 40%;
    padding: 0px;
}

#navbar div ul li {
    display: inline;
    text-align: center;
    margin-right: 40px;
}

#navbar div ul li a:link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#navbar div ul li a:visited {
    text-decoration: none;
    color: white;
}

#navbar div ul li a:hover {
    color: red;
    transition: 0.3s;
}

#cart_icon {
    width: 60%;
    color: white;
    text-align: right;
}

#cart_icon a:link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#cart_icon a:visited {
    text-decoration: none;
    color: white;
}

#cart_icon a:hover {
    color: red;
    transition: 0.3s;
}

footer {
    background-color: black;
    color: white;
    height: 40px;
    justify-content: center;
}

footer div {
    align-items: center;
}

